body {
    margin : 0;
    background-color: whitesmoke;
    font-family: 'Quicksand';
    padding: 2px 5px;
  
  }

  /*Big heading*/
  .abode {
    font-size: 2.5em;
    color: #fff;
  }
  
  /*Homepage input search fields*/
  .home-search[type=text], select {
    width: 10%;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    background-color: white;
  }

  .home-search1[type=text] {
    width: 10%;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: transparent;
  }

  /*header little text*/
  .header-little-text {
    color: white;
    font-size: 1em;
    text-align: justify;
    margin-left: 2%
  }
  
  /*menu*/
  .menu {
    font-size: 0.6em;
    text-align: left;
  }
  .menu-heading {
    color: rgb(136, 36, 66);
    font-size: 0.75em;
  }
  
  hr {
    opacity: 0.2;
    width: 30px;
  }
  
 
  /*About us*/
  .about6 {
    font-size: 2.7em;
    text-align: justify;
    font-family: 'Quicksand';
    margin-left: 2%;
    margin-top: 0%;
    text-indent:-0.2em;
  }
  .about4 {
    font-size: 1.7em;
    text-align: justify;
    font-family: 'Quicksand';
    margin-left: 4%;
    color: rgb(136, 36, 66);
  }
  .about5 {
    font-size: 1.2em;
    text-align: left;
    text-align-last: left;
    font-family: 'Quicksand';
    color: black;
    text-indent:-0.2em;
  }
  
  .about7 {
    font-size: 0.7em;
    text-align: justify;
    font-family: 'Quicksand';
    margin-left: 4%;
    color: rgb(136, 36, 66);
  }
  .about8 {
    font-size: 0.8em;
    text-align: justify;
    font-family: 'Quicksand';
    color: rgb(136, 36, 66);
  }

  /*services*/
  .text1 {
    font-size: 0.95em;
    text-align: center;
    font-family: 'Quicksand';
    color: black;
    text-indent: -0.1em;
  }
  
  /*homepage login box*/
  .login-form {     
    width: 30%;
    padding: 25px;
    margin: 25px;
    height: 40%;
    border-radius: 2%;
    border: 1px dotted white;
    float: right;
  }
  .slogan {
  color: rgb(201, 192, 192);
  font-size: 0.8em;
  text-align: center
  }

 /*homepage colmn cards*/
 * {
  box-sizing: border-box;
}
  .column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
  .column1 {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  .column2 {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* the cards -- columns */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  hr {
    opacity: 0.2;
    width: 30px;
  }
  
  /* The header section-- picture start point*/
  #grad {
      background-image :url('../images/pic1.jpg');
   /* background-image :linear-gradient(black, #000011);*/
      height: 120vh;
      background-size: cover;
      font-family: 'Quicksand';
     
  }
  
  /*The Navigation section*/
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(136, 36, 66);
    color: white;
    padding: 8px 10px;
    border: none;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color: rgb(0, 0, 0);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  
  h3 {
    text-indent: 50px;
    letter-spacing: 3px;
    font-size: 35px;
    
  }
  
  p {
    text-indent: 50px;
    letter-spacing: 3px;
  }
  
  .welcome-property-pro-lite {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
  /*navigation boxes*/
  .box {
    width: 200px;
    padding: 1px;
    background-color: transparent;
    border: 1px dotted white;
    transition: 0.5s;
  }
  
  .box:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  cursor: pointer;
  }
  
  .box p.about {
    margin: 5%;
    font-weight: bold;
    color: #ffffff
  }
  
  
  .box p.about2 {
    margin: 5%;
    font-weight: bold;
    color: rgb(206, 179, 179);
    opacity: 0.7;
  }
  
  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  label.labels {
    color: white;
    text-align: left
  }
  
  .login {
  text-align: center;
  color: white;
  font-size: 1.5em;
  }
  
  .mobile-login {
    text-align: left;
  color: white;
  font-size: 1.5em;
  
  }

.home-search[type=text], select{
  width: 10%;
  padding: 5px;
  margin: 5px 0 14px 0;
  display: inline-block;
  border: 1px dotted white;
  background: transparent;
  color: white;
  font-size: 1em;
}
.drop-down {
  color: #000
}

  /*page-login-form*/
input[type=text], input[type=password] {
      width: 100%;
      padding: 5px;
      margin: 5px 0 14px 0;
      display: inline-block;
      border: 1px dotted white;
      background: transparent;
      color: white;
      font-size: 1em;
    }
    
  @media only screen and (max-width: 400px){
      .button {
      display: none;
      }
    }
  
    .button {
      background:   rgb(136, 36, 66);
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      width: 50%;
      color: white;
      margin-right: 8%
    }
  
  .button1 {
      background:  rgb(136, 36, 66);
      border: 1px dotted white;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 20%;
      color: black;
    }
  
    .button2 {
      background:  rgb(136, 36, 66);
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 10%;
      color: white;
      margin-left: 3%
    }
    
    .btn {
      border: 2px solid black;
      background-color: transparent;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    
    .get-started {
      border-color: rgb(136, 36, 66);
      color: white;
      text-decoration: none;
    }

    @media screen and (min-width: 1024px) {
     .get-started {
      display: none;
      }
    }



  /*All media queries*/
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  /* If the screen size is 600px wide or less, hide the element */
  @media only screen and (max-width: 1024px) {
    .div {
      display: none
    }
    .box {
      display: none
    }
    .home-search{
      display: none;
    }
    input.home-search1{
      display: none;
    }
    .button2 {
      display: none;
    }
    .login-form{
      display: none
    }
  }
  @media screen and (max-height: 1366px) {
   #grad { height: 80vh;}
  }
  
  @media screen and (max-height: 700px) {
    #grad { height: 130vh;}
   }

  @media only screen and (max-width: 1024px) {
    .abode {
      font-size: 3.5em;
      text-indent: -0.1em
    }
    .header-little-text {
      display: none
    }
    .button2 {
      width: 35%
    }
    .about4 {
      font-size: 1.0em
    }
    .about6 {
      font-size: 1.3em;
      text-align: left;
      text-indent:-0.2em;
    }
    .about5 {
      font-size: 1.0em;
      text-align: left;
      text-indent:-0.2em;
    }
    .slogan {
      font-size: 1.2em;
      text-align: justify;
      margin-left: 0.5%;
  }
  .welcome-property-pro-lite{
    font-size: 1.0em
  }
  .login-form{
    height: 50%
  }
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -200px;
    left: 0;
    bottom:0;
    margin: 0;
    width: 100%;
    background-color: rgb(136, 36, 66);
    color: white;
    text-align: center;
 }